body {
  margin: 0;
  color: black;
  /* background-color: black; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.NavBar {
  width: 15%;
  background-color: pink;
  height: 100vh;
  position: fixed;
  transition: 0.4s;
}

.profile img {
  width: 80%;
}

.main-content {
  margin-left:16%;
  min-height: 100vh;
}

.sidebar {
z-index: 10;
}
